@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(15rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*:after,
*:before {
  box-sizing: border-box; }

html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden; }
  @media only screen and (max-width: 1250px) {
    html {
      font-size: 9px; } }

body {
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative; }

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #525252; }

.heading-primary--main {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #525252;
  font-size: 2.3rem;
  margin: 0;
  line-height: 2.8rem; }

.heading-secondary--main {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #525252;
  font-size: 3rem;
  padding: 8rem 0 4rem 0;
  line-height: 2.8rem;
  margin: 0; }

.regular-text {
  font-family: "Open-Sans", sans-serif;
  color: #525252;
  font-size: 1.5rem;
  line-height: 2.2rem; }

.button, .button:link, .button:visited {
  display: inline-block;
  text-decoration: none;
  padding: .7rem 2.4rem;
  font-size: 1.6rem;
  position: relative;
  font-weight: 600;
  letter-spacing: .1rem;
  border-radius: .9rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
  transition: all .2s; }

.button--white {
  background-color: #B0DFF6;
  color: #ffffff; }

.button--gradient-blue {
  background-image: linear-gradient(to right, #79D9FF, rgba(112, 173, 255, 0.51));
  color: #ffffff; }

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.button:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.button--rightmargin {
  margin-right: 3rem; }

@media only screen and (max-width: 850px) {
  .remove-responsive--small {
    display: none !important; } }

@media only screen and (max-width: 650px) {
  .remove-responsive--extra-small {
    display: none !important; } }

@media only screen and (max-width: 390px) {
  .remove-responsive--micro {
    display: none !important; } }

.comp-partners {
  margin-top: -1rem;
  padding: 5.5rem 0;
  background-color: #ffffff;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2); }
  .comp-partners__logo {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    line-height: 5rem; }
    .comp-partners__logo img {
      vertical-align: middle;
      max-width: 20rem; }

.comp-feature-cards {
  margin-bottom: 10rem;
  vertical-align: middle; }
  .comp-feature-cards__image {
    margin-top: 1.5rem;
    height: 18rem;
    position: relative; }
    .comp-feature-cards__image img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 14.8rem; }
  .comp-feature-cards__card {
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    height: 47rem;
    transition: transform .3s;
    background-color: #ffffff; }
    @media only screen and (max-width: 850px) {
      .comp-feature-cards__card {
        height: auto; } }
    .comp-feature-cards__card:hover {
      transform: translateY(-1.5rem) scale(1.03); }
  .comp-feature-cards__text--sub {
    padding: 0 4rem 3rem; }
  .comp-feature-cards__text--head {
    text-align: center;
    font-size: 2.5rem; }

.section-footer {
  background-color: #F9F9F9;
  padding: 2rem; }
  @media only screen and (max-width: 650px) {
    .section-footer {
      padding-left: 8rem;
      padding-right: 8rem; } }
  .section-footer__logo img {
    max-width: 14rem; }
  .section-footer__element {
    float: right;
    display: inline-block;
    max-width: 9rem;
    width: 100%;
    height: 100%;
    horizontal-align: middle;
    text-align: right;
    text-decoration: none;
    color: #525252;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 1.4rem; }
    @media only screen and (max-width: 850px) {
      .section-footer__element {
        font-weight: 800; } }
    .section-footer__element--cr {
      padding-top: .6rem;
      padding-left: 2.5rem;
      font-size: 1.1rem;
      color: darkgray; }

.row {
  padding: 0 4rem;
  max-width: 116rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 7rem; }
    @media only screen and (max-width: 850px) {
      .row [class^="col-"]:not(.exclude-small) {
        width: 100% !important; }
      .row [class^="col-"]:not(:last-child) {
        margin-bottom: 5rem; } }
    @media only screen and (max-width: 650px) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .row__nopadding {
    padding: 0; }
  .row .col-1-of-2 {
    width: calc((100% - 7rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 7rem)) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 7rem)) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - (2 * 7rem)) / 3) + 7rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (3 * 7rem)) / 4) + 7rem); }
  .row .col-3-of-4 {
    width: calc((3 * ((100% - (3 * 7rem)) / 4)) + 2 * 7rem); }

.section-header {
  width: 100%;
  margin-top: 6rem; }
  @media only screen and (max-width: 650px) {
    .section-header {
      margin-top: 3rem; } }
  .section-header::after {
    content: "";
    display: table;
    clear: both; }
  .section-header__decoration--left {
    position: absolute;
    z-index: -30;
    margin-left: -60rem;
    animation-name: moveInLeft;
    animation-duration: .8s;
    animation-timing-function: ease-out; }
    .section-header__decoration--left img {
      opacity: .2;
      max-width: 100rem; }
  .section-header__decoration--right {
    position: absolute;
    z-index: -30;
    margin-left: 10rem;
    margin-top: -25rem;
    animation-name: moveInRight;
    animation-duration: .8s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 650px) {
      .section-header__decoration--right {
        margin-top: -52rem;
        margin-left: 40rem; } }
    .section-header__decoration--right img {
      opacity: .9;
      max-width: 150rem; }
  .section-header__hero-text {
    margin-top: 17rem; }
    @media only screen and (max-width: 850px) {
      .section-header__hero-text {
        margin-top: 11rem; } }
    @media only screen and (max-width: 650px) {
      .section-header__hero-text {
        margin-top: 0;
        padding: 8rem 2rem 6rem 2rem; } }
  .section-header__hero-image {
    margin-left: -6rem;
    animation-name: moveInRight;
    animation-duration: 1.3s;
    animation-timing-function: ease-out; }
    .section-header__hero-image img {
      max-width: 65.6rem; }
      @media only screen and (max-width: 850px) {
        .section-header__hero-image img {
          max-width: 42rem; } }
      @media only screen and (max-width: 650px) {
        .section-header__hero-image img {
          display: none; } }
  .section-header__hero--line {
    width: 40%;
    display: block;
    height: 2px;
    border: 0;
    border-top: 1.5px solid #525252;
    margin-top: .7em;
    padding: 0; }

.section-topbar {
  margin-top: 6.5rem; }
  @media only screen and (max-width: 650px) {
    .section-topbar {
      margin-top: 4rem; } }
  .section-topbar::after {
    content: "";
    display: table;
    clear: both; }
  .section-topbar__buttons {
    float: right; }
  .section-topbar__logo img {
    max-width: 17rem; }
  @media only screen and (max-width: 650px) {
    .section-topbar .button--gradient-blue {
      margin-top: 0.3rem;
      font-size: 1.3rem; } }

.section-contact {
  height: 60rem;
  background-image: linear-gradient(to left, rgba(219, 239, 255, 0.8), rgba(244, 250, 255, 0.8));
  box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 850px) {
    .section-contact {
      height: 112.5rem; } }
  .section-contact__bg-element {
    position: relative;
    box-shadow: 0 0 0.88889rem rgba(0, 0, 0, 0.15);
    border-radius: .6rem;
    height: 34rem;
    transition: transform .3s;
    background-color: #ffffff;
    z-index: 10; }
    @media only screen and (max-width: 850px) {
      .section-contact__bg-element {
        height: 50rem; } }
    @media only screen and (max-width: 650px) {
      .section-contact__bg-element {
        height: 53rem; } }
    @media only screen and (max-width: 390px) {
      .section-contact__bg-element {
        height: 56rem; } }
  .section-contact__decoration-left {
    position: absolute;
    margin-top: -11rem;
    margin-left: -12rem;
    z-index: 1; }
    .section-contact__decoration-left img {
      width: 50rem; }
    @media only screen and (max-width: 650px) {
      .section-contact__decoration-left {
        visibility: hidden; } }
  .section-contact input {
    border: none;
    border-bottom: 1px solid;
    border-color: lightgray;
    margin-left: 2rem;
    padding-bottom: .5rem;
    text-decoration: none;
    color: #525252;
    font-size: 1.6rem;
    width: 70%;
    outline: none;
    transition: all .3s; }
    @media only screen and (max-width: 850px) {
      .section-contact input {
        margin-left: 0; } }
    .section-contact input:focus {
      border-color: #70ADFF; }
  .section-contact .sidebar {
    background-image: linear-gradient(to bottom right, #8FE6FF, #3FC6FF);
    border-top-right-radius: .6rem;
    border-bottom-right-radius: .6rem;
    height: 34rem; }
    @media only screen and (max-width: 850px) {
      .section-contact .sidebar {
        border-radius: .6rem;
        height: 34rem;
        box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.2); } }
  .section-contact .center {
    text-align: center; }
  .section-contact .centerup {
    margin-top: 6rem; }
    .section-contact .centerup--less {
      margin-top: 2rem; }
      @media only screen and (max-width: 850px) {
        .section-contact .centerup--less {
          margin-top: 0; } }
    @media only screen and (max-width: 850px) {
      .section-contact .centerup {
        margin-bottom: 0; } }
  .section-contact .button {
    font-weight: 900;
    float: right; }
    @media only screen and (max-width: 850px) {
      .section-contact .button {
        float: none; } }
  .section-contact .fullwidth {
    width: 100%; }
    @media only screen and (max-width: 850px) {
      .section-contact .fullwidth {
        margin-bottom: 0 !important;
        text-align: center; } }
  .section-contact .subtext {
    margin-top: 0;
    color: lightgray; }
    @media only screen and (max-width: 850px) {
      .section-contact .subtext {
        margin-top: 2rem; } }
  .section-contact .contact-sidebar--text {
    font-size: 1.6rem;
    color: #F9F9F9;
    font-weight: 600; }
  .section-contact .contact-head {
    color: #F9F9F9;
    font-size: 2rem;
    padding-left: 5rem;
    padding-top: 3rem; }
  @media only screen and (max-width: 850px) {
    .section-contact .side-contact-text {
      text-align: center;
      margin-left: -6%; } }
  @media only screen and (max-width: 650px) {
    .section-contact .side-contact-text {
      text-align: center;
      margin-left: -9%; } }
  .section-contact i {
    color: #F9F9F9;
    margin-left: 3rem;
    font-size: 1.4rem;
    padding-left: 1rem; }
  .section-contact p {
    margin-left: 2rem;
    margin-top: 2rem;
    display: inline-block; }
