$col-dark-gray: #525252;
$col-shady-white: #F6F6F6;
$col-pure-white: #ffffff;
$col-baby-blue: #B0DFF6;
$col-pure-black: #000;

$col-primary-light: #79D9FF;
$col-primary-dark: #69B4FF;

$default-font-size: 1.6rem; //1.6 * 10px = 16px
$smaller-font-size: 1.5rem;

$base-width: 116rem;
$gutter-horizontal: 7rem;