.comp-partners {
  margin-top: -1rem;
  padding: 5.5rem 0;
  background-color: $col-pure-white;

  //  box-shadow: inset 0 .2rem 1rem rgba($col-pure-black, .2);
  box-shadow: 0 .2rem 1rem rgba($col-pure-black, .2);

  &__logo {
    // Centering vertically inside a float taken from: https://mathiasbynens.be/demo/center-vertically-inside-float
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    line-height: 5rem;
    img {
      vertical-align: middle;
      max-width: 20rem;
    }
  }
}